src/404.jade
//- 404.jade
- var curPage = '404';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body
        .wrapper
            include jade/layout/header
            .section.section-fluid.dark-theme
                .building-model#buildingmodel
                    .errorpage_content
                        .errorpage_title
                            | 404
                        p
                            | If you entered a web address please check it was correct. You can also search from the homepage to find the information you need.
                        
                        a(href="/").errorpage_link
                            | Home page
                    
                    .building-model_webgl#webgl(style="transform: translateY(0);")
            include jade/layout/panel
        include jade/layout/scripts
        include jade/layout/webgl.html

static/404.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>404</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <style type="text/css">
         .preloader {
         	position: fixed;
         	display: flex;
         	align-items: center;
         	flex-direction: column;
         	justify-content: center;
         	top: 0;
         	left: 0;
         	width: 100%;
         	height: 100%;
         	background-color: #0e1632;
         	z-index: 1000;
         	opacity: 0;
         	visibility: hidden;
         	transition: all 2s ease-in-out;
         	overflow: hidden;
         }
          
         .preloader.is-showing {
         	opacity: 1;
         	visibility: visible;
         }
         
         .is-showing .preloader__logo {
         	opacity: 1;
         }
         
         .preloader__logo {
         	margin-top: -5vh;
         	opacity: 0;
         	transition: all 1s ease;
         }
         
         .preloader__line {
         	margin-top: 20vh;
         	height: 1px;
         	width: 1px;
         	background: #fff;
         	animation: preload 3s forwards ease-in-out;
         }
         
         @keyframes preload {
         	to {
         		width: 100%;
         	}
         }
         
      </style>
      <link rel="apple-touch-icon" sizes="57x57" href="img/fav/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/fav/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/fav/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/fav/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/fav/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/fav/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/fav/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/fav/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="img/fav/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/fav/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
   </head>
   <body>
      <div class="wrapper">
         <div class="header top dark-bg">
            <div class="container">
               <div class="row">
                  <div class="col-6 col-sm-2 col-lg-2"><a href="/index2.html" class="header-logo">
                        <svg class="icon icon-logo-vector ">
                           <use xlink:href="svg/sprite.svg#logo-vector"></use>
                        </svg></a></div>
                  <div class="col col-sm-8 col-lg-8 header-menu-wrap">
                     <div class="header-menu">
                        <ul class="header-menu__list">
                           <li><a href="/flatlist.html">Flat</a></li>
                           <li class="current"><a href="/burolist.html">Buro</a></li>
                           <li><a href="/about.html">About</a></li>
                           <li><a href="/location.html">Location</a></li>
                           <li><a href="/gallery.html">Gallery</a></li>
                           <li><a href="/progress.html">Progress</a></li>
                           <li><a href="/contacts.html">Contact</a></li>
                        </ul>
                        <div class="header-lang">
                           <ul class="header-lang__container js-lang-container">
                              <li class="header-lang__item"><a href="/en/location/">Eng</a></li>
                              <li class="header-lang__item"><a href="/location/">Rus</a></li>
                              <li class="header-lang__item"><a href="/es/location/">Est</a></li>
                           </ul>
                        </div>
                        <button type="button" class="header-menu_close js-menu"></button>
                     </div>
                  </div>
                  <div class="col-auto col-sm-2 col-lg-2 text-sm-right">
                     <button type="button" class="header-burger js-menu"><span></span></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section-fluid dark-theme">
            <div id="buildingmodel" class="building-model">
               <div class="errorpage_content">
                  <div class="errorpage_title">404</div>
                  <p>If you entered a web address please check it was correct. You can also search from the homepage to find the information you need.</p><a href="/" class="errorpage_link">Home page</a>
               </div>
               <div id="webgl" style="transform: translateY(0);" class="building-model_webgl"></div>
            </div>
         </div>
         <div class="panel">
            <div class="row no-gutters">
               <div class="col-auto"><a href="/" target="_blank" class="btn btn-block panel_btn js-panel-sales">Sales Information</a></div>
               <div class="col-auto">
                  <button type="button" class="btn btn-block panel_btn panel_btn--accent js-orderform">Request</button>
               </div>
               <div class="col align-self-end text-right d-flex justify-content-end">
                  <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
                     <svg class="icon icon-capital ">
                        <use xlink:href="svg/sprite.svg#capital"></use>
                     </svg>
                  </button>
               </div>
            </div>
            <div class="panel-outproject dark-bg">
               <ul>
                  <li><span>Our ohter projects</span></li>
                  <li><a href="#">Kesk-Peetri Kodu</a></li>
                  <li><a href="#">Hilton Tallinn Park</a></li>
                  <li><a href="#">Krati Kvartal</a></li>
                  <li><a href="#">Kadakamarja Kodu</a></li>
                  <li><a href="#">Uus-Peetri</a></li>
                  <li><a href="#">Tammsaare tee 118C</a></li>
                  <li><a href="#">Ülikooli 6A</a></li>
               </ul>
               <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
                  <svg class="icon icon-capital ">
                     <use xlink:href="svg/sprite.svg#capital"></use>
                  </svg>
               </button>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="config/location.json"></script>
      <script type="text/javascript" src="config/filter.json"></script>
      <script type="text/javascript" src="config/flats.json"></script>
      <script type="text/javascript" src="config/validate.js"></script>
      <script src="js/main.js"></script><script type="x-shader/x-vertex" id="vertexShader">

    attribute vec3 center;
    varying vec3 vCenter;

    void main() {
        vCenter = center;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    }

  </script>

  <script type="x-shader/x-fragment" id="fragmentShader">
    #extension GL_OES_standard_derivatives: enable
    
    uniform float u_time;
    #ifdef GL_ES
    precision mediump float;
    #endif

        varying vec3 vCenter;

        float edgeFactorTri() {
            vec3 d = fwidth(vCenter.xyz);
            vec3 a3 = smoothstep(vec3(0.0), d * 1.5, vCenter.xyz);
            return min(min(a3.x, a3.y), a3.z);
        }

        void main() {
            gl_FragColor.rgb = mix( vec3(0.29, 0.32, 0.38 ), vec3(0.03, 0.05, 0.11), edgeFactorTri());
            gl_FragColor.a = 1.0;
            //gl_FragColor = vec4(abs(sin(u_time)),0.0,0.0,1.0);
        }
  </script>
   </body>
</html>
