static/index2.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <style type="text/css">
         .preloader {
         	position: fixed;
         	display: flex;
         	align-items: center;
         	flex-direction: column;
         	justify-content: center;
         	top: 0;
         	left: 0;
         	width: 100%;
         	height: 100%;
         	background-color: #0e1632;
         	z-index: 1000;
         	opacity: 0;
         	visibility: hidden;
         	transition: all 2s ease-in-out;
         	overflow: hidden;
         }
          
         .preloader.is-showing {
         	opacity: 1;
         	visibility: visible;
         }
         
         .is-showing .preloader__logo {
         	opacity: 1;
         }
         
         .preloader__logo {
         	margin-top: -5vh;
         	opacity: 0;
         	transition: all 1s ease;
         }
         
         .preloader__line {
         	margin-top: 20vh;
         	height: 1px;
         	width: 1px;
         	background: #fff;
         	animation: preload 3s forwards ease-in-out;
         }
         
         @keyframes preload {
         	to {
         		width: 100%;
         	}
         }
         
      </style>
      <link rel="apple-touch-icon" sizes="57x57" href="img/fav/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/fav/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/fav/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/fav/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/fav/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/fav/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/fav/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/fav/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="img/fav/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/fav/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
   </head>
   <body class="index">
      <div class="preloader is-showing"><img src="img/icons/logo-vector-vertical-white.svg" alt="" class="preloader__logo">
         <div class="preloader__line"></div>
      </div>
      <script type="text/javascript">
         var preloader = (function (){
           document.addEventListener('DOMContentLoaded', function(){
             var preloaderEl = document.querySelector('.preloader');
             if(preloaderEl) {
               preloaderEl.classList.remove('is-showing');
             }
           });
         })();
      </script>
      <header class="header header_index dark-bg">
         <div class="container">
            <div class="row">
               <div class="col-6 col-sm-2 col-lg-2"><a href="/index2.html" class="header-logo">
                     <svg class="icon icon-logo-vector ">
                        <use xlink:href="svg/sprite.svg#logo-vector"></use>
                     </svg></a></div>
               <div class="col col-sm-8 col-lg-8 header-menu-wrap">
                  <div class="header-menu">
                     <ul class="header-menu__list">
                        <li><a href="/flatlist.html">Flat</a></li>
                        <li class="current"><a href="/burolist.html">Buro</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/location.html">Location</a></li>
                        <li><a href="/gallery.html">Gallery</a></li>
                        <li><a href="/progress.html">Progress</a></li>
                        <li><a href="/contacts.html">Contact</a></li>
                     </ul>
                     <div class="header-lang">
                        <ul class="header-lang__container">
                           <li class="header-lang__item"><a href="/en/location/">Eng</a></li>
                           <li class="header-lang__item"><a href="/location/">Rus</a></li>
                           <li class="header-lang__item"><a href="/es/location/">Est</a></li>
                        </ul>
                     </div>
                     <button type="button" class="header-menu_close js-menu"></button>
                  </div>
               </div>
               <div class="col-auto col-sm-2 col-lg-2 text-sm-right">
                  <button type="button" class="header-burger js-menu"><span></span></button>
               </div>
            </div>
         </div>
      </header>
      <nav class="main-menu">
         <ul class="pagination">
            <li><a>item</a></li>
            <li><a>item</a></li>
            <li><a>item</a></li>
            <li><a>item</a></li>
            <li><a>item</a></li>
            <li><a>item</a></li>
         </ul>
      </nav>
      <div id="fullpage" class="wrapper">
         <main class="index-wrap">
            <section style="background-image: url(../img/index/index-1.jpg)" class="index-full__section index-full__section_1 index-full__section_dark">
               <div class="index-full__section-content">
                  <h1 data-aos="slide-up" class="index-full__descript">Uus sihtkoht Tallinna kesklinnas</h1>
                  <button style="pointer-events: auto;" class="skrllr-down js-skrllr-down"></button>
               </div>
            </section>
            <section style="background-image: url(../img/index/index-2.jpg)" class="index-full__section index-full__section_2 dark-theme">
               <div class="index-full__section-content">
                  <h2 class="index-full__header">Top architecture for the modern urban man</h2>
                  <p class="index-full__text">Vektori arhitektuurne lahendus on loodud Eesti ühe edukama, edumeelsema ja vaieldamatult modernse käekirjaga büroo, Kadarik. Tüür. Arhitektid, poolt. Hoone kontseptsioon ühendab esindusliku tehnitsismi ja hubase kodususe. Maja urbanistlikku joont tasakaalustavad haljastatud katuseterrassid ja rõdud. Hoone välisilme kandub orgaaniliselt edasi ka siselahendustesse.<br><br>Vektori multifunktsionaalne keskkond on kaasaegselt mugav, elegantne ja ökonoomne. Läbimõeldud lahendused loovad mõnusa elukeskkonna tegusale linnainimesele ja paindliku tegutsemispaiga esinduslikule salongile või loovettevõttele.<br></p></p>
               </div>
            </section>
            <section style="background-image: url(../img/index/index-3.jpg)" class="index-full__section index-full__section_3 index-full__section_dark">
               <div class="index-full__section-content">
                  <h2 class="index-full__header">Location in the middle of all possibilities</h2>
                  <p class="index-full__text">Some of&nbsp;the world&rsquo;s most iconic tall buildings live in&nbsp;New York, and have become symbols of&nbsp;this City. They owe their shape, recognition and height to&nbsp;the unconquerable Manhattan bedrock. It&nbsp;is&nbsp;on&nbsp;this foundation that Central Park Tower</p>
               </div>
            </section>
            <section style="background-image: url(../img/index/index-4.jpg)" class="index-full__section index-full__section_4">
               <div class="index-full__section-content">
                  <h2 class="index-full__header">Functional and stylish content</h2>
                  <p class="index-full__text index-full__text_view_s">This new architectural landmark will rise 1,550 feet above New York City, establishing it&nbsp;as&nbsp;the tallest residential building in&nbsp;the world. <br><br>Elegant and graceful, its strong presence positions Central Park Tower as&nbsp;a&nbsp;powerful and poised statement along the Manhattan skyline.</p>
               </div>
            </section>
            <section style="background-image: url(../img/index/index-5.jpg)" class="index-full__section index-full__section_5 index-full__section_dark">
               <div class="index-full__section-content">
                  <h2 class="index-full__header">Economical, comfortable and high quality</h2>
                  <p class="index-full__text">This new architectural landmark will rise 1,550 feet above New York City, stablishing it as the tallest residential building in the world. Elegant and graceful, its strong presence positions Central Park Tower as a powerful and poised statement along the Manhattan skyline.</p>
               </div>
            </section>
            <footer style="background-image: url(../img/index/bg-vektor.jpg" class="index-full__footer index-full__section_dark">
               <div class="index-full__section-content">
                  <h2 class="index-full__descript">Uus sihtkoht Tallinna kesklinnas</h2>
                  <div class="index-full__foot-links"><a href="/burolist.html" class="index-full__link">ÄRIPINNAD </a><a href="/flatlist.html" class="index-full__link">KORTERID</a></div>
               </div>
               <div class="index-full__copyrights">
                  <div class="container">
                     <div class="row justify-content-sm-between">
                        <div class="col-12 col-sm-auto col-lg-4">
                           <p>© vector.com, 2019</p>
                        </div>
                        <div class="col-12 col-sm-auto text-sm-center col-lg-4">
                           <p><a href="http://" target="_blank" rel="noopener noreferrer">Privacy policy</a></p>
                        </div>
                        <div class="col-12 col-sm-auto text-sm-right col-lg-4">
                           <p><a href="http://cake.ru" target="_blank">Site development –<strong>&nbsp;Cake</strong></a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
         </main>
      </div>
      <div class="panel">
         <div class="row no-gutters">
            <div class="col-auto"><a href="/" target="_blank" class="btn btn-block panel_btn js-panel-sales">Sales Information</a></div>
            <div class="col-auto">
               <button type="button" class="btn btn-block panel_btn panel_btn--accent js-orderform">Request</button>
            </div>
            <div class="col align-self-end text-right d-flex justify-content-end">
               <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
                  <svg class="icon icon-capital ">
                     <use xlink:href="svg/sprite.svg#capital"></use>
                  </svg>
               </button>
            </div>
         </div>
         <div class="panel-outproject dark-bg">
            <ul>
               <li><span>Our ohter projects</span></li>
               <li><a href="#">Kesk-Peetri Kodu</a></li>
               <li><a href="#">Hilton Tallinn Park</a></li>
               <li><a href="#">Krati Kvartal</a></li>
               <li><a href="#">Kadakamarja Kodu</a></li>
               <li><a href="#">Uus-Peetri</a></li>
               <li><a href="#">Tammsaare tee 118C</a></li>
               <li><a href="#">Ülikooli 6A</a></li>
            </ul>
            <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
               <svg class="icon icon-capital ">
                  <use xlink:href="svg/sprite.svg#capital"></use>
               </svg>
            </button>
         </div>
      </div>
      <div class="popup-orderform js-scrollbar">
         <button type="button" class="popup-orderform_close js-orderform"></button>
         <div class="popup-orderform_content">
            <div class="popup-orderform_title">Fill out the form and our managers will answer all your questions</div>
            <div class="popup-orderform_form">
               <form action="" id="callbackform">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Name</label>
                              <input type="text" name="name"><small class="messages"></small>
                           </div>
                        </div>
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Phone</label>
                              <input type="text" name="phone" placeholder="+372 (___) ___-__-__"><small class="messages"></small>
                           </div>
                        </div>
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Email</label>
                              <input type="text" name="email"><small class="messages"></small>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Comment</label>
                              <textarea name="comment"></textarea><small class="messages"></small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <button type="submit" class="popup-orderform_form_send">Send</button>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="popup-orderform_form_desc">By submitting the form, you confirm your capacity and consent to the processing of personal data</div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="popup-orderform_content popup-orderform_content-success hide">
            <div class="popup-orderform_title">Thank you for contacting us, we will contact you shortly</div>
         </div>
      </div>
      <div style="background-image:url('../img/parking.png')" class="popup-parking">
         <button type="button" class="popup-parking_close js-popup-parking"></button>
         <div class="popup-parking_content">
            <div class="popup-parking_title">Parking and<br>storage rooms</div>
            <p>Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. </p>
            <div class="row d-flex justify-content-between">
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>20000 m²</big><br>Parking area
                  </div>
               </div>
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>20000 m³</big><br>Storage area
                  </div>
               </div>
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>1000</big><br>Rooms
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="config/location.json"></script>
      <script type="text/javascript" src="config/filter.json"></script>
      <script type="text/javascript" src="config/flats.json"></script>
      <script type="text/javascript" src="config/validate.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>

src/index2.jade
//- new index page index2.jade
include jade/_mixins

doctype html
html
  include jade/layout/head
  body.index
    .preloader.is-showing
      img.preloader__logo(src="img/icons/logo-vector-vertical-white.svg", alt="")
      .preloader__line
    script(type="text/javascript").
      var preloader = (function (){
        document.addEventListener('DOMContentLoaded', function(){
          var preloaderEl = document.querySelector('.preloader');
          if(preloaderEl) {
            preloaderEl.classList.remove('is-showing');
          }
        });
      })();
    include jade/layout/header-tr
    nav.main-menu
      ul.pagination
        li
          a item
        li
          a item
        li
          a item
        li
          a item
        li
          a item
        li
          a item
    .wrapper#fullpage
      main.index-wrap
        section.index-full__section.index-full__section_1.index-full__section_dark(style="background-image: url(../img/index/index-1.jpg)")
          .index-full__section-content
            h1.index-full__descript(data-aos="slide-up")
              | Uus sihtkoht Tallinna kesklinnas
            button.skrllr-down.js-skrllr-down(style="pointer-events: auto;")
        section.index-full__section.index-full__section_2.dark-theme(style="background-image: url(../img/index/index-2.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Top architecture for the modern urban man
            p.index-full__text Vektori arhitektuurne lahendus on loodud Eesti ühe edukama, edumeelsema ja vaieldamatult modernse käekirjaga büroo, Kadarik. Tüür. Arhitektid, poolt. Hoone kontseptsioon ühendab esindusliku tehnitsismi ja hubase kodususe. Maja urbanistlikku joont tasakaalustavad haljastatud katuseterrassid ja rõdud. Hoone välisilme kandub orgaaniliselt edasi ka siselahendustesse.<br><br>Vektori multifunktsionaalne keskkond on kaasaegselt mugav, elegantne ja ökonoomne. Läbimõeldud lahendused loovad mõnusa elukeskkonna tegusale linnainimesele ja paindliku tegutsemispaiga esinduslikule salongile või loovettevõttele.<br></p>
        section.index-full__section.index-full__section_3.index-full__section_dark(style="background-image: url(../img/index/index-3.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Location in the middle of all possibilities
            p.index-full__text
              | Some of&nbsp;the world&rsquo;s most iconic tall buildings live in&nbsp;New York, and have become symbols of&nbsp;this City. They owe their shape, recognition and height to&nbsp;the unconquerable Manhattan bedrock. It&nbsp;is&nbsp;on&nbsp;this foundation that Central Park Tower
        section.index-full__section.index-full__section_4(style="background-image: url(../img/index/index-4.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Functional and stylish content
            p.index-full__text.index-full__text_view_s
              | This new architectural landmark will rise 1,550 feet above New York City, establishing it&nbsp;as&nbsp;the tallest residential building in&nbsp;the world. <br><br>Elegant and graceful, its strong presence positions Central Park Tower as&nbsp;a&nbsp;powerful and poised statement along the Manhattan skyline.
        section.index-full__section.index-full__section_5.index-full__section_dark(style="background-image: url(../img/index/index-5.jpg)")
          .index-full__section-content
            h2.index-full__header
              | Economical, comfortable and high quality
            p.index-full__text
              | This new architectural landmark will rise 1,550 feet above New York City, stablishing it as the tallest residential building in the world. Elegant and graceful, its strong presence positions Central Park Tower as a powerful and poised statement along the Manhattan skyline.
        footer.index-full__footer.index-full__section_dark(style="background-image: url(../img/index/bg-vektor.jpg")
          .index-full__section-content
            h2.index-full__descript
              | Uus sihtkoht Tallinna kesklinnas
            .index-full__foot-links
              a.index-full__link(href="/burolist.html") ÄRIPINNAD 
              a.index-full__link(href="/flatlist.html") KORTERID
          .index-full__copyrights
            .container
              .row.justify-content-sm-between
                .col-12.col-sm-auto.col-lg-4
                  p
                    | © vector.com, 2019
                .col-12.col-sm-auto.text-sm-center.col-lg-4
                  p
                    a(href="http://", target="_blank", rel="noopener noreferrer")
                      | Privacy policy
                .col-12.col-sm-auto.text-sm-right.col-lg-4
                  p
                    a(href="http://cake.ru",target="_blank")
                      | Site development –
                      strong &nbsp;Cake

    include jade/layout/footer-tr
    include jade/layout/scripts
