static/location.html
<!DOCTYPE html>
<html>
   <head lang="ru">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Location</title>
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="">
      <meta name="format-detection" content="telephone=no">
      <link rel="stylesheet" href="css/main.css">
      <style type="text/css">
         .preloader {
         	position: fixed;
         	display: flex;
         	align-items: center;
         	flex-direction: column;
         	justify-content: center;
         	top: 0;
         	left: 0;
         	width: 100%;
         	height: 100%;
         	background-color: #0e1632;
         	z-index: 1000;
         	opacity: 0;
         	visibility: hidden;
         	transition: all 2s ease-in-out;
         	overflow: hidden;
         }
          
         .preloader.is-showing {
         	opacity: 1;
         	visibility: visible;
         }
         
         .is-showing .preloader__logo {
         	opacity: 1;
         }
         
         .preloader__logo {
         	margin-top: -5vh;
         	opacity: 0;
         	transition: all 1s ease;
         }
         
         .preloader__line {
         	margin-top: 20vh;
         	height: 1px;
         	width: 1px;
         	background: #fff;
         	animation: preload 3s forwards ease-in-out;
         }
         
         @keyframes preload {
         	to {
         		width: 100%;
         	}
         }
         
      </style>
      <link rel="apple-touch-icon" sizes="57x57" href="img/fav/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/fav/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/fav/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/fav/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/fav/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/fav/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/fav/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/fav/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="img/fav/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/fav/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png">
   </head>
   <body class="light-theme">
      <div class="header top dark-bg">
         <div class="container">
            <div class="row">
               <div class="col-6 col-sm-2 col-lg-2"><a href="/index2.html" class="header-logo">
                     <svg class="icon icon-logo-vector ">
                        <use xlink:href="svg/sprite.svg#logo-vector"></use>
                     </svg></a></div>
               <div class="col col-sm-8 col-lg-8 header-menu-wrap">
                  <div class="header-menu">
                     <ul class="header-menu__list">
                        <li><a href="/flatlist.html">Flat</a></li>
                        <li class="current"><a href="/burolist.html">Buro</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/location.html">Location</a></li>
                        <li><a href="/gallery.html">Gallery</a></li>
                        <li><a href="/progress.html">Progress</a></li>
                        <li><a href="/contacts.html">Contact</a></li>
                     </ul>
                     <div class="header-lang">
                        <ul class="header-lang__container js-lang-container">
                           <li class="header-lang__item"><a href="/en/location/">Eng</a></li>
                           <li class="header-lang__item"><a href="/location/">Rus</a></li>
                           <li class="header-lang__item"><a href="/es/location/">Est</a></li>
                        </ul>
                     </div>
                     <button type="button" class="header-menu_close js-menu"></button>
                  </div>
               </div>
               <div class="col-auto col-sm-2 col-lg-2 text-sm-right">
                  <button type="button" class="header-burger js-menu"><span></span></button>
               </div>
            </div>
         </div>
      </div>
      <div class="wrapper">
         <div class="section section-fluid">
            <div data-aos="fade-up" class="panorama"><img src="img/content/panorama.png" class="img-full"></div>
         </div>
         <div class="section location-container">
            <div class="container">
               <div class="content-section">
                  <div class="row justify-content-sm-center">
                     <div data-aos="fade-right" class="col-12 col-sm-11 col-md-8 col-xl-6 text-sm-center">
                        <h1 class="title text-center">Pärnu mnt 137</h1>
                        <p>Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section section-fluid">
            <div data-aos="zoom-in" class="map"><img src="img/map2.png" style="width: 100%;" alt="" class="img-full"></div>
         </div>
         <div class="section section-fluid">
            <div class="container">
               <div data-aos="fade-left" class="content-section content-section_gallery">
                  <div class="row align-items-xl-center">
                     <div class="col-12 col-lg-6 order-1 order-lg-2">
                        <div class="carousel carousel-big carousel-50vw">
                           <div class="owl-carousel">
                              <div data-index="0" style="background-image: url('img/content/gallery1.png')" class="owl-carousel_item"></div>
                              <div data-index="1" style="background-image: url('img/content/gallery1.png')" class="owl-carousel_item"></div>
                              <div data-index="2" style="background-image: url('img/content/gallery1.png')" class="owl-carousel_item"></div>
                              <div data-index="3" style="background-image: url('img/content/gallery1.png')" class="owl-carousel_item"></div>
                              <div data-index="4" style="background-image: url('img/content/gallery1.png')" class="owl-carousel_item"></div>
                           </div>
                           <div class="owl-carousel_nav owl-carousel_nav-location">
                              <div class="owl-carousel_nav_btn owl-carousel_nav_btn-prev"><img src="img/icons/arrow-left.svg" alt=""></div>
                              <div class="owl-carousel_nav_count"><span class="owl-carousel_nav_count_current">0</span><span> / </span><span class="owl-carousel_nav_count_total">0</span></div>
                              <div class="owl-carousel_nav_btn owl-carousel_nav_btn-next"><img src="img/icons/arrow-right.svg" alt=""></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <div class="row">
                           <div class="col-12 col-lg-9">
                              <div class="location-content">
                                 <h2 class="title">Interior design</h2>
                                 <p>Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section about-container">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-sm-10 col-xl-5 col-xxl-4">
                     <div class="about">
                        <div class="text_small">
                           <div class="about_title">
                              <h2>About</h2>
                           </div>
                           <p>While we may not be able to change everything, we can at least reclaim our conscious awareness. We can still our minds, release the pressure in our bodies and reconnect with the wisdom that perhaps has been forgotten over time. How to breathe. How to be still. How to eat better and appreciate where that food comes from. To be mindful and to make conscious choices.</p>
                        </div>
                        <div class="row align-items-center justify-content-between justify-content-lg-start">
                           <div class="col-auto col-sm col-lg-auto"><a href="#" class="social-link">Facebook</a></div>
                           <div class="col-auto col-sm col-lg-auto"><a href="#" class="social-link">Instagram</a></div>
                           <div class="col-auto col-sm col-lg-auto"><a href="#" class="social-link last">Youtube</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-xl-7 col-xxl-7 offset-xxl-1">
                     <div class="row justify-content-xxl-between">
                        <div class="col-12 col-sm-6 col-xxl-auto">
                           <div class="managers">
                              <div class="managers_avatar"><img src="img/content/manager1.jpg" alt="" class="no-margin"></div>
                              <div class="row">
                                 <div class="col-12 col-lg">
                                    <div class="managers_position">
                                       <div class="managers_text">
                                          <div class="h3">Sigrid</div>
                                          <p>Manager</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-lg-auto">
                                    <div class="managers_contacts">
                                       <div class="managers_text text-lg-right">
                                          <div class="h3"><a href="tel:+372646">+ 372 646</a></div>
                                          <p><a href="mailto:office@vector.com">office@vector.com</a></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xxl-auto">
                           <div class="managers">
                              <div class="managers_avatar"><img src="img/content/manager2.jpg" alt="" class="no-margin"></div>
                              <div class="row">
                                 <div class="col-12 col-lg">
                                    <div class="managers_position">
                                       <div class="managers_text">
                                          <div class="h3">Sigrid</div>
                                          <p>Manager</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-lg-auto">
                                    <div class="managers_contacts">
                                       <div class="managers_text text-lg-right">
                                          <div class="h3"><a href="tel:+372646">+ 372 646</a></div>
                                          <p><a href="mailto:office@vector.com">office@vector.com</a></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section footer">
         <div class="footer_content">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-12 col-xl-10">
                     <div class="text-center">
                        <p>Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. The prices indicated on the website are approximate, the developer can change the specified prices at any time at his discretion without any prior notice. The price of each contract is formed individually, taking into account, including: the selected object, its location, the construction phase, the payment terms in force at the time of the conclusion of the special shares agreement and (or) conditions, etc. The images of the objects presented on the website, including images of the layouts of individual apartments and non-residential premises are schematic and may differ from the materials of the design and working documentation. All information about sales conditions, the procedure for concluding contracts, the exact characteristics of objects, etc. You can find out by calling us and (or) directly in our sales offices.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer_copyrights">
            <div class="container">
               <div class="row justify-content-sm-between">
                  <div class="col-12 col-sm-auto col-lg-4">
                     <p>© vector.com, 2019</p>
                  </div>
                  <div class="col-12 col-sm-auto text-sm-center col-lg-4">
                     <p><a href="http://" target="_blank" rel="noopener noreferrer">Privacy policy</a></p>
                  </div>
                  <div class="col-12 col-sm-auto text-sm-right col-lg-4">
                     <p><a href="http://cake.ru" target="_blank">Site development –<strong>&nbsp;Cake</strong>
                           <!--+icon("cakelab", "cakelab_logo")--></a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="panel">
         <div class="row no-gutters">
            <div class="col-auto"><a href="/" target="_blank" class="btn btn-block panel_btn js-panel-sales">Sales Information</a></div>
            <div class="col-auto">
               <button type="button" class="btn btn-block panel_btn panel_btn--accent js-orderform">Request</button>
            </div>
            <div class="col align-self-end text-right d-flex justify-content-end">
               <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
                  <svg class="icon icon-capital ">
                     <use xlink:href="svg/sprite.svg#capital"></use>
                  </svg>
               </button>
            </div>
         </div>
         <div class="panel-outproject dark-bg">
            <ul>
               <li><span>Our ohter projects</span></li>
               <li><a href="#">Kesk-Peetri Kodu</a></li>
               <li><a href="#">Hilton Tallinn Park</a></li>
               <li><a href="#">Krati Kvartal</a></li>
               <li><a href="#">Kadakamarja Kodu</a></li>
               <li><a href="#">Uus-Peetri</a></li>
               <li><a href="#">Tammsaare tee 118C</a></li>
               <li><a href="#">Ülikooli 6A</a></li>
            </ul>
            <button type="button" class="btn panel_btn panel_btn--outproject js-panel-outproject">
               <svg class="icon icon-capital ">
                  <use xlink:href="svg/sprite.svg#capital"></use>
               </svg>
            </button>
         </div>
      </div>
      <div class="popup-orderform js-scrollbar">
         <button type="button" class="popup-orderform_close js-orderform"></button>
         <div class="popup-orderform_content">
            <div class="popup-orderform_title">Fill out the form and our managers will answer all your questions</div>
            <div class="popup-orderform_form">
               <form action="" id="callbackform">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Name</label>
                              <input type="text" name="name"><small class="messages"></small>
                           </div>
                        </div>
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Phone</label>
                              <input type="text" name="phone" placeholder="+372 (___) ___-__-__"><small class="messages"></small>
                           </div>
                        </div>
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Email</label>
                              <input type="text" name="email"><small class="messages"></small>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-controle">
                           <div class="textfield">
                              <label for="">Comment</label>
                              <textarea name="comment"></textarea><small class="messages"></small>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <button type="submit" class="popup-orderform_form_send">Send</button>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <div class="popup-orderform_form_desc">By submitting the form, you confirm your capacity and consent to the processing of personal data</div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="popup-orderform_content popup-orderform_content-success hide">
            <div class="popup-orderform_title">Thank you for contacting us, we will contact you shortly</div>
         </div>
      </div>
      <div style="background-image:url('../img/parking.png')" class="popup-parking">
         <button type="button" class="popup-parking_close js-popup-parking"></button>
         <div class="popup-parking_content">
            <div class="popup-parking_title">Parking and<br>storage rooms</div>
            <p>Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation. </p>
            <div class="row d-flex justify-content-between">
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>20000 m²</big><br>Parking area
                  </div>
               </div>
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>20000 m³</big><br>Storage area
                  </div>
               </div>
               <div class="col-auto">
                  <div class="popup-parking_info">
                     <big>1000</big><br>Rooms
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="background-image: url('img/content/promo4.png');" class="advantages-popup">
         <button type="button" class="advantages-popup_close js-advantages-close"></button>
         <div class="advantages-popup_content">
            <h3 class="advantages-popup_title"></h3>
            <div class="advantages-popup_text"></div>
         </div>
      </div>
      <script type="text/javascript" src="config/location.json"></script>
      <script type="text/javascript" src="config/filter.json"></script>
      <script type="text/javascript" src="config/flats.json"></script>
      <script type="text/javascript" src="config/validate.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>

src/location.jade
//- location.jade
- var curPage = 'Location';
include jade/_mixins

doctype html
html
    include jade/layout/head
    body.light-theme
        include jade/layout/header
        .wrapper

        

            .section.section-fluid
                .panorama(data-aos="fade-up")
                    img.img-full(src="img/content/panorama.png")
            .section.location-container
                .container
                    .content-section
                        .row.justify-content-sm-center
                            .col-12.col-sm-11.col-md-8.col-xl-6.text-sm-center(data-aos="fade-right")
                                h1.title.text-center
                                    | Pärnu mnt 137
                                p
                                    | Dear site visitors! Please note that all information provided on this site is for informational purposes only, is not an offer or a public offer in accordance with art. 435, paragraph 2 of Art. 437 of the Civil Code of the Russian Federation.
            .section.section-fluid
                .map(data-aos="zoom-in")
                    img.img-full(src="img/map2.png", style="width: 100%;" alt="")

            .section.section-fluid
                .container
                    .content-section.content-section_gallery(data-aos="fade-left")
                        .row.align-items-xl-center
                            .col-12.col-lg-6.order-1.order-lg-2
                                .carousel.carousel-big.carousel-50vw
                                    .owl-carousel
                                        .owl-carousel_item(data-index="0", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="1", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="2", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="3", style="background-image: url('img/content/gallery1.png')")
                                        .owl-carousel_item(data-index="4", style="background-image: url('img/content/gallery1.png')")
                                    .owl-carousel_nav.owl-carousel_nav-location
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-prev
                                            img(src="img/icons/arrow-left.svg", alt="")
                                        .owl-carousel_nav_count
                                            span.owl-carousel_nav_count_current
                                                | 0
                                            span
                                                |  / 
                                            span.owl-carousel_nav_count_total
                                                | 0
                                        .owl-carousel_nav_btn.owl-carousel_nav_btn-next
                                            img(src="img/icons/arrow-right.svg", alt="")

                            .col-12.col-lg-6.order-2.order-lg-1
                                .row
                                    .col-12.col-lg-9
                                        .location-content
                                            h2.title
                                                | Interior design
                                            p
                                                | Suurepärane asukoht, Tipparhitektuur Hoolikalt läbi mõeldud planeeringud ja ajatu siseviimistlus Paindlikud lahendused äripindade kujundamisel Maast laeni aknad, kõrged laed, palju loomulikku valgust Energiasäästlikud lahendused Panoraamvaated Tallinnale Haljastatud katuseterrassid ja rõdud Esinduslik fuajee, eraldi sissepääsud äripindadele ja korteritele Mugav majasisene logistika Kiire ligipääs erinevatest sõidusuundadest 
                

            include jade/components/about
        include jade/layout/footer
        include jade/layout/scripts
